{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}

<div>
  <div class="breadcrumb-area">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{ .Site.BaseURL }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        {{ with .Section }}
        <li><a href="{{ $.Site.BaseURL }}{{ . | urlize }}/" itemprop="url"><span itemprop="title">{{ . }}</span></a></li>
        {{ end }}
        <li><a href="{{ .URL }}">{{ .Title }}</a></li>
      </ul>
    </nav>
  </div>
  {{ .Render "summary" }}
</div>

{{ partial "footerbar.html" . }}

{{ end }}
