{{ define "title" }}{{ .Title }} - {{ end }}
{{ define "main" }}
<div class="columns">
  <div class="column is-8">
    <h1 class="title">{{ .Title }}</h1>
    <nav class="panel terms">
      {{ $data := .Data }}
      {{ range $key, $value := .Data.Terms }}
      <div class="panel-block" href="{{ $.Site.BaseURL }}{{ $data.Plural }}/{{ $key | urlize }}">
        <a href="{{ $.Site.BaseURL }}{{ $data.Plural }}/{{ $key | urlize }}">
          <p>{{ $key }}</p>
        </a>
        <span class="tag is-light">{{ len $value }}</span>
      </div>
      {{ end }}
    </nav>
  </div>
  <div class="column is-4">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ end }}
