<div class="article-info-buttons">
  <div id="twitter-button" class="article-info-button">
    <a class="twitter-share-button" href="https://twitter.com/share">Tweet</a>
  </div>
  <div class="article-info-button">
    <a
      href="http://b.hatena.ne.jp/entry/"
      class="hatena-bookmark-button"
      data-hatena-bookmark-layout="basic-label-counter"
      data-hatena-bookmark-lang="ja"
      title="{{ .Title }}"
    >
      <img
        src="https://b.st-hatena.com/images/entry-button/button-only@2x.png"
        alt="このエントリーをはてなブックマークに追加"
        width="20"
        height="20"
        style="border: none;"
      />
    </a>
  </div>
</div>
<script src="//platform.twitter.com/widgets.js" defer></script>
<script src="https://b.st-hatena.com/js/bookmark_button.js" defer></script>
