<div class="sidebar">
    <h1 class="subtitle">Latest Posts</h1>
    <div>
        {{ range first 10 .Site.RegularPages }}
        <p>
            <i class="fa fa-book"></i>
            <a href="{{ .Permalink }}">
                {{ .Title }}
            </a>
        </p>
        {{ end }}

    </div>

    <h1 class="subtitle">Category</h1>
    <div>
        {{ range $name, $value := .Site.Taxonomies.categories }}
        <p>
            <i class="fa fa-folder"></i>
            <a href="{{ $.Site.BaseURL}}{{ " categories " | urlize }}/{{ $name | urlize }}">
                {{ $name }}
            </a>
        </p>
        {{ end }}
    </div>
    
    <h1 class="subtitle">Tag</h1>
    <div class="tag-cloud">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        <p>
            <i class="fa fa-tag"></i>
            <a href="{{ $.Site.BaseURL}}{{ " tags " | urlize }}/{{ $name | urlize }}">
                {{ $name }}
            </a>
        </p>
        {{ end }}
    </div>
</div>
