{{ define "title" }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ end }}

{{- define "main" -}}

{{ if .IsHome }}

{{ else }}
  <h1 class="title">
    {{ if .Data.Singular }} 
      {{ .Data.Singular | title }}: 
    {{ end }}
    {{ .Title }}
  </h1>
{{ end }}

<ul class="articles">
  {{ $paginator := .Paginate ((where .Site.Pages "Kind" "page")) 7}}
    {{ range $paginator.Pages }}
    <li>{{ .Render "li" }}</li>
    {{ end }}
</ul>
{{ partial "pagination.html" . }}

{{ partial "footerbar.html" . }}
{{- end -}}
